.top-nav-bar {
  height: 72px;
  padding: 17px 95px;
  display: flex;
  justify-content: space-between;
  &__left {
    color: #172B4D;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.16px;
    line-height: 38px;
    text-align: left;
    text-transform: capitalize;
  }
  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  }
}