@import '../../assets//variables.scss';

.sidebar-nav-link {
  display: flex;
  list-style: none;
  flex-flow: row;
  align-items: center;
  padding: 10px 14px;

  img {
    width: 14px;
    height: 14px;
  }
  
  p {
    color: $Astronaut;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.13px;
    line-height: 17px;
    text-align: left;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    margin-left: 14px;
  }
}