@import '../../assets/variables.scss';

.logged-in-user-details {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__circle {
    background-color: $Gainsboro;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  } 
}