$Hawkes-blue: #DFE1E6;
$Ghost-white: #F9F9FA;
$Storm-grey:#6B778C;
$Astronaut: #42526E;
$Light-slate-grey: #798395;
$Floral-white: #F7F6F3;
$Fruit-salad: #529C4E;
$White: #FFF;
$Gainsboro: #D8D8D8;
$Harley-davidson-orange: #DE3618;
$Fern: #67C462;
$Hawkes-blue: #DFE1E6;