@import '../../assets/mixin.scss';
@import '../../assets/variables.scss';

.table-row {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding: 16px 34px;
  border-bottom: 1px solid $Hawkes-blue;

  &:hover {
    background-color: $Ghost-white;
  }
  
  div {
    margin: 0;
    color: $Storm-grey;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08px;
    line-height: 19px;
    font-family: helvetica, arial, sans-serif;
  };
  div:nth-child(n+2) {
   text-align: right;
  }
  &__name {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
    }
    p {
      color: $Astronaut;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.08px;
      line-height: 19px;
      text-align: left;
      margin-left: 12px;
      font-family: helvetica, arial, sans-serif;
    }
  }
  &__pending {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    font-family: helvetica, arial, sans-serif;

    p {
      margin: 2px 0;
    }

    p:nth-child(1) {
      @include paragraph($Astronaut, 16px, 400, 0.08px,19px);
    }
    p:nth-child(2) {
      @include paragraph($Light-slate-grey,14px, 400, 0.07px,17px);
    }
  }
}